:root {
  --Main-Colour: rgba(0,172,234,1);
  --channel-icon: var(--Main-Colour) ;
  --Background-Colour: rgba(0,0,0,1);
  --Secondary-Background-Colour: rgba(0,0,0,.3);
  --Secondary-Main-Colour: rgba(0,172,234,.5);
  --Text-Shadow-Colour: rgba(0,0,0,.65);
  --Scroller-Colour: rgba(0,172,234,0);
  --Notification-Colour: rgba(0,172,234,1);
  --Chat-Input-Background: rgba(0,0,0,0);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: url(https://imgur.com/v7KMYff.png);
  --Settings-Background: url(https://imgur.com/v7KMYff.png);
  --Callout-Background: url(https://imgur.com/v7KMYff.png);
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " Mio Akiyama";
  --Chat-Font-Used: "Whitney";
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Chat-Background);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: var(--Secondary-Background-Colour);
  --load1: "Thank You!";
  --load2: "Please Enjoy!";
  --load3: "➢NFLD99";
  --File-Updated-2020-5-24: ;
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--Secondary-Main-Colour);
  --Guild-Columns: 2;
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
  --Chat-Avatar-Border-Radius: 10%;
  --Background-Darkness: 0.5;
    /* horizontal side bar*/
    --custom-guild-list-width: calc(var(--server-size) * 2.5);
  --server-size: var(--HSL-server-icon-size, var(--HSL-size, 55px));
  --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 5px));
  --server-container: calc(var(--server-size) + 20px);
  --server-direction: var(--HSL-server-direction, column);
  --server-alignment: var(--HSL-server-alignment, flex-start);
  --HSL-server-direction: column; /* Direction of the server list. | OPTIONS: column, column-reverse | DEFAULT: column */
  --HSL-server-alignment: flex-start; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end | DEFAULT: flex-start */
  --hexagon:  polygon(
        20% 5%, 
        80% 5%, 
        100% 50%, 
        80% 95%, 
        20% 95%, 
        0% 50%);
  --hexagon-server: polygon(
        50% 0%, 
        100% 25%, 
        100% 75%, 
        50% 100%, 
        0% 75%, 
        0% 25%);

}
/* 2 */

.theme-dark, 
.visual-refresh.theme-dark, .visual-refresh .theme-dark
.visual-refresh.theme-darker, .visual-refresh .theme-darker, 
.visual-refresh.theme-midnight, .visual-refresh .theme-midnight,
.visual-refresh.theme-light, .visual-refresh .theme-light {
    --header-primary: var(--Main-Colour);
    --header-secondary: var(--Secondary-Main-Colour);
    --channels-default: var(--Secondary-Main-Colour);
    --interactive-normal: var(--Secondary-Main-Colour);
    --text-normal: var(--Main-Colour);
    --text-muted: var(--Secondary-Main-Colour);
    --background-modifier-hover: transparent;
    --interactive-hover: var(--Main-Colour);
    --interactive-muted: var(--Secondary-Main-Colour);
    --background-secondary: transparent;
    --background-primary: transparent;
    --background-tertiary: transparent;
    --background-modifier-selected: transparent;
    --interactive-active: var(--Main-Colour);
    --background-modifier-active: transparent;/*
	--space-xs: 0;*/
}


.wrapper_cb9592.minimum_cb9592{
  background: transparent!important;
}


.wrapper_ef3116 {
    background-color: var(--background-tertiary)!important;
}

.privateChannels__35e86 {
    background: var(--bg-overlay-3,var(--background-secondary))!important;
}
.theme-dark .scroller__99e7c {
    background: var(--bg-overlay-3,var(--background-secondary))!important;
}
.chatContent_f75fb0{
	background: var(--bg-overlay-3,var(--background-secondary))!important;
}
.appMount__51fd7, body {
    background: var(--bg-overlay-2,var(--background-secondary))!important;
}
.theme-dark .container__2637a{
    background: var(--bg-overlay-2,var(--background-secondary))!important;
}
.visual-refresh .sidebar_c48ade:after{
    background: var(--bg-overlay-2,var(--background-secondary))!important;
}
.standardSidebarView__23e6b {

    background-color: var(--background-primary)!important;
}
.sidebarRegionScroller__23e6b {
    background: var(--background-secondary)!important;
}

.visual-refresh.theme-midnight .content_f75fb0, .visual-refresh.theme-midnight .subtitleContainer_f75fb0{
    background: var(--background-secondary)!important;
}

.visual-refresh .title_f75fb0, .visual-refresh .chat_f75fb0{
    background: var(--background-secondary)!important;
}

.tabBody__133bf{
	background:transparent!important;
}
.container__133bf {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: var(--bg-overlay-chat,var(--background-primary));
	background-color: var(--bg-overlay-chat,var(--background-primary))!important;
}
/*
[aria-label="Friends"]{
    background: var(--bg-overlay-chat,var(--background-primary))!important;
}

[aria-labelledby="uid_8921"]{
	background: var(--bg-overlay-chat,var(--background-primary))!important;
}
*/
.container__9293f, .container__9293f *{
	background: var(--bg-overlay-chat,var(--background-primary))!important;
}

.lowerBadge_cc5dd2{
	margin-right:10px;
	margin-bottom:-5px;
}
.unreadMentionsFixedFooter_ef3116{
	bottom: 15px!important;
}
.wrapper__6e9f8{
	margin-top:5px!important;

}
.theme-dark .children__9293f:after{
	background:transparent;
}






.sidebarList_c48ade{
	width:300px!important;
}
.sidebarResizeHandle_c48ade{
	display:none!important;
}
.linkButtonIcon__972a0{
    color: var(--Main-Colour)!important;
}
.clickable__9293f .icon__9293f {
    color: var(--interactive-normal)!important;
}
button.button__67645, span.button__67645 {
    line-height: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    color: var(--interactive-normal)!important;
}
.upperBadge_cc5dd2{
	margin-top:17px;
	margin-right:10px;
}



.visual-refresh .svg_cc5dd2{
	top:11px;
}

#app-mount .serverCount_FsTTs1{
  /*white-space: pre-line;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 20px!important;
  margin-bottom:-10px!important;
    color: var(--text-muted);
    text-align: center;*/
    text-transform: uppercase;
    line-height: 1.3;
    width: 80px;
    word-wrap: normal;
    white-space: nowrap;
	margin-right:70px;
	padding-bottom:20px;
}
.guildSeparator__252b6{
	margin-top:-30px!important;
	margin-left: -80px!important;/*
	padding-left:120px;
	padding-right:80px!important;*/
	height: 2px!important;
}

#app-mount .itemsContainer_ef3116,
#app-mount .stack_dbd263 {
  flex-direction: var(--HSL-server-direction);
  justify-content: var(--HSL-server-alignment);/*
  margin-top:20px!important;*/
}
.tutorialContainer__1f388{
  margin-top: 0px;
  margin-bottom:70px;
  /*margin-left: calc(var(--server-size) / 2);*/
}
.panels_c48ade {
    --custom-panels-spacing: 8px!important;
}


html.platform-osx #app-mount .typeMacOS__421ed {
  width: 100%;
}
html.platform-osx #app-mount .base_c48ade {
  top: calc(var(--server-container) + 30px) !important;
}
html.platform-osx #app-mount #pluginNotice {
  top: 32px;
  z-index: 100000 !important;
}

body.folderContentIsOpen_zz6FgW .base_c48ade {
  transition: 0.2s ease !important;
}

.accountProfilePopoutWrapper__37e49 {
  left: 0;
}
/*
.icon__6e9f8{
    transform:rotate(90deg);
}*/
.childWrapper__6e9f8{/*
    transform:rotate(90deg);*/
    clip-path: var(--hexagon-server)!important;
    scale: 0.8;
}

.chatCounter_XOMPsh{
  right:0!important;
}

.label_c1e9c4{
    color:var(--Main-Colour);
}
.codicon[class*=codicon-] {
    font: normal normal normal 16px/1 codicon!important;
}
/*
[role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) * foreignObject{
    clip-path: var(--hexagon);
}
*/
.pill__1f388{
  position:absolute;
}
.container_c8ffbb {
    background: var(--bg-overlay-chat,var(--background-secondary));
}
.members_c8ffbb {
    background: var(--bg-overlay-chat,var(--background-secondary));
}
.member_c8ffbb {
    background: var(--bg-overlay-chat,var(--background-secondary));
}

.communityInfoVisible_f37cb1 .communityInfo_f37cb1,
.theme-dark .guildName-1kreI8,
.theme-dark .override-1sK4r0,
.theme-dark .overrideHighlight-3f-yyO,
.icon__2ea32 {
    color: var(--Main-Colour)!important;
    opacity:0.5!important;
}
.modeConnected__2ea32 .name__2ea32, .modeConnected__2ea32:hover .name__2ea32, .modeSelected__2ea32 .name__2ea32, .modeSelected__2ea32:hover .name__2ea32, .modeUnreadImportant__2ea32 .name__2ea32, .modeUnreadImportant__2ea32:hover .name__2ea32, .notInteractive__2ea32.modeConnected__2ea32 .name__2ea32, .notInteractive__2ea32.modeSelected__2ea32 .name__2ea32 {
    color: var(--interactive-active)!important;
}
.containerDefault_c69b6d.selected_c69b6d .iconNoChannelInfo_c69b6d{
	display: none;
	
}
.iconVisibility_c69b6d:hover .iconItem_c69b6d, .iconVisibility_c69b6d:hover .iconItem_c69b6d{
	display:block;
}
.brand_b3f026.item_b3f026, .themed_b3f026.item_b3f026 {
    color: var(--interactive-normal)!important;
}
.contentRegionScroller__23e6b {
    background-color: var(--background-primary)!important;
}
.actionIcon_c69b6d {
    color: var(--interactive-normal)!important;
}
.icon__9293f {
    color: var(--Secondary-Main-Colour)!important;
}

/* CHANNEL GROUPS */

.name__29444 .overflow__82b15 {
    padding: 0 0.5em;
}


#app-mount .guilds_c48ade .scrollerWrap-1IAIlv {
  width: calc(100% + 30px);
}
#app-mount .guilds_c48ade .svg_cc5dd2,
#app-mount .guilds_c48ade .wrapper_cc5dd2,
#app-mount .guilds_c48ade .guildsError-b7zR5H,
#app-mount .guilds_c48ade .placeholderMask__87847 {
  width: var(--server-size);
  height: var(--server-size);
}
#app-mount .guilds_c48ade [role=group] {
  height: auto !important;
}
#app-mount .guilds_c48ade [class*=expandedFolderBackground] {
  width: var(--server-size);
  left: 50%;
  translate: -50% 0;
}

#app-mount .guilds_c48ade .wrapper__58105 {
  height: calc(0.8 * var(--server-size)) !important;
  margin-right:-40px;
}
#app-mount .guilds_c48ade .wrapper__48112 {
  width: calc(3 * var(--server-size))!important;
}
/*
#app-mount .app_a3002d .base_c48ade {
  top:calc(2.5*var(--server-size)) !important;
  position: absolute !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  max-width: 100%;
}*/
#app-mount .sidebar_c48ade {
  border-radius: 0;
}
#app-mount [class*=unreadMentionsIndicator] {
  width: var(--server-size);
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}
.pill__1f388{
  position:absolute;
}


/* CHAT ICONS */
.avatar_c19a55, 
.username_c19a55::before,
.username_c19a55::before, 
.username_c19a55::before, 
.replyAvatar_c19a55 {
    border-radius: 0;
    clip-path: var(--hexagon)!important;

}
.username_c19a55, .zalgo_c19a55.cozy_c19a55 .header_c19a55 {
    overflow: visible;
}
.username_c19a55 + .username_c19a55::before {
    display: none;
}
.repliedMessage_c19a55 .botTagCompact_c19a55 {
    display: none;
}

.repliedMessage_c19a55 .username_c19a55::before {
    width: 36px;
    height: 36px;
    left: -40px;
    top: -9px;
}

.repliedMessage_c19a55 .replyAvatar_c19a55 {
    width: 30px;
    height: 30px;
    transform: translate(-22px, 0);
    margin-right: -15px;
    z-index: 1;
}

.threadMessageAccessory_c19a55 img {
    z-index: 1;
}

.threadMessageAccessory_c19a55 .username_c19a55::before {
    width: 18px;
    height: 18px;
    left: -25px;
    top: 0px;
}

/* PROFILE TAB ICONS */
.avatarWrapper_f89da9 {
    scale: 1.48;
    transform: translate(2px, 4px);
}

.avatarWrapper_f89da9::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    clip-path: var(--hexagon);
}

.avatarStack__44b0c img {
    scale: 0.9;
    clip-path: var(--hexagon);
}

/* SERVER LSIT ICONS */

.icon__6e9f8 {
    clip-path: var(--hexagon-server);
    scale: 0.80;
}

.wrapper_cc5dd2 {
    scale: 1.2;
}
.wrapper_cc5dd2::before {
    content: "";
    width: 48px;
    height: 48px;
    display: block;
    clip-path: var(--hexagon-server);
}

.wrapper_cc5dd2 .folder__48112 {
    scale: 0.75;
    clip-path: var(--hexagon-server);
	margin-top: -2px;
	margin-left: -3px;
}
.wrapper_cc5dd2 .wrapper__8436d {
    scale: 0.9;
    clip-path: var(--hexagon-server);
}
.wrapper__48112{
    width:auto!important;
}
.expandedFolderBackground__48112{
    display:none;
}

/* DIRECT MESSAGES ICONS */

.privateChannels__35e86 .wrapper__44b0c {
    scale: 1.25;
}
/* SERVER LIST DOUBLEUP */

.guilds_c48ade {
    width: 128px;
}
/*
div[aria-label="Servers"] */.listItem__650eb:nth-of-type(even) {
    transform: translate(40px, -30px);
    margin-bottom: -55px;
}
/*
div[aria-label="Servers"] *//*.listItem__650eb:nth-of-type(even):last-child {
    margin-bottom: 5px;
}
/*
div[aria-label="Servers"] *//*.wrapper__48112 ul {
    height: unset !important;
}
/*
div[aria-label="Servers"] */.listItem__650eb:nth-of-type(even) .pill_e5445c {
    left: unset;
    right: unset;
    scale: -1;

}
.pill_e5445c{
  position:absolute;
}
.listItem__650eb {
    position: relative;
    margin: 0 0 8px;
    display: flex;
    justify-content: center;
    width: var(--custom-guild-list-width)!important;
}






/* SEARCHBAR */

.searchFilter_bd8186, .searchAnswer_bd8186 {
    padding: 0 0.6em;
    clip-path: var(--hexagon);
}



.content_c48ade {
  margin-top: var(--custom-guild-list-width);
  overflow: visible !important;
}

#app-mount .sidebar_c48ade {
  border-radius: 0;
  overflow: visible !important;
}
#app-mount .guilds_c48ade {
  transform-origin: top left;
  rotate: -90deg;
  height: 100vw !important;
  bottom: unset;
  position: absolute !important;
  left: 0;
}
#app-mount .tree_ef3116 {
  padding-top: var(--HSL-top-padding, var(--size-sm));
}
#app-mount .wrapper_cc5dd2 {
  rotate: 90deg;
}


.container_c48ade > div[style]:not(.base_c48ade) {
  width: 100vw !important;
  height: var(--custom-guild-list-width) !important;
  position: absolute;
  top: calc(var(--custom-guild-list-width) + var(--custom-app-top-bar-height));
  pointer-events: none;
  z-index: 1;
}
.container_c48ade > div[style]:not(.base_c48ade) .guilds_c48ade {
  pointer-events: all;
}
.container_c48ade > div[style]:not(.base_c48ade) + .base_c48ade .content_c48ade {
  margin-top: calc(var(--custom-guild-list-width) * 2);
}

/* 1 */
.bg__960e4 {
    background: var(--File-Updated-2020-5-24) 50% 50%/contain no-repeat, var(--Chat-Background) 50% 50%/cover !important;
    animation: Load4 3s 1 linear, var(--StartUp) 3s 1 linear;
    font-family: var(--Chat-Font-Used) !important;
}
.container__37e49, .panels_c48ade{
    Background: transparent!important;
    background-color: transparent!important;
}
.scrollableContainer__74017 {
    background: var(--Chat-Input-Background) 50% 50%/cover !important;
    border-radius: 4px;
    border: 1px solid var(--Main-Colour) !important;
    margin-top: 1.6px;
    margin-left: 2px;
    margin-bottom: 0px;
    vertical-align: middle;
    min-height: 3rem;
    max-height: 90vh;
}
.wrapper__58105{
  width:5px!important;
  margin-left:5px;
}
.wrapperSimple_cc5dd2{
  border-radius: 0px!important;
}
.unreadMentionsIndicatorTop_ef3116, .unreadMentionsIndicatorBottom_ef3116{
    width:auto!important;
}
.container_e131a9 {
    background:transparent;
}

.guildSeparator__252b6{
    width:calc(var(--Guild-Columns) * 60px + 2px) !important;

}
.button_e6e74f{
  background:transparent;
}
.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32:hover .link__2ea32{
  background: linear-gradient(to left, var(--Background-Colour), var(--Secondary-Background-Colour), var(--Notification-Colour));
  border: 2px var(--Main-Colour) solid !important;
}
.modeUnreadImportant__2ea32 {
  border-right: 1px var(--Main-Colour) solid !important;
  border-left: 1px var(--Main-Colour) solid !important;
  background: linear-gradient(to right, var(--Background-Colour), var(--Secondary-Background-Colour), var(--Notification-Colour));
  background-size: 100% 100%;
  border-radius: 5px;
}
.unreadImportant__2ea32{
  background: transparent!important;
}
.tutorialContainer__1f388 > .listItem__650eb > .listItemWrapper_dfb2f8{
  width:auto!important;
}
.autocompleteAttached__6b0e0{
  background:linear-gradient(var(--Background-Colour), var(--Chat-Input-Background));
}

/* 3 */
.connectedAccountVerifiedIcon-3aZz_K g {
    display: none;
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 {
    background: transparent;
    border-radius: 15px;
    opacity: 7;
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.marginReset-3RfdVe > div:nth-child(1) > div > svg > path {
    Fill: var(--Background-Colour) !important;
}

#app-mount > div > div.app.flex-vertical.theme-dark > div > section > div.chat.flex-vertical.flex-spacer > div.content.flex-spacer.flex-horizontal > div.flex-spacer.flex-vertical > div > div > div > div:nth-child(37) > div.comment > div.message.mentioned > div.body-3rkFrF > div > div.markup-2BOw-j {
    background: transparent !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

a {
    color: var(--Main-Colour) !important;
}

.mention-1f5kbO {
    background: linear-gradient(to right, var(--Background-Colour), var(--Secondary-Main-Colour), var(--Secondary-Main-Colour), var(--Background-Colour)) !important;
    color: var(--Background-Colour) !important;
}

.checkbox span {
    color: #a6a6a6;
    padding-left: 30px;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.checkbox .checkbox-inner span {
    border-radius: 10px;
    height: 22px;
    width: 50px;
    padding-bottom: 11px;
    background-color: #a8a8a8 !important;
    background-image: url(https://nfld99.com/Bkg/XVZz4KO.png) !important;
    background-size: 44%;
    background-repeat: no-repeat;
    border: none;
}

.checkbox .checkbox-inner input[type=checkbox]:checked + span:after {
    margin-left: 15px !important;
    border: none !important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked + span {
    width: 50px;
    transform: rotate(180deg) !important;
    background-color: var(--Main-Colour) !important;
}

.checkbox-3kaeSU span {
    color: #a6a6a6;
    padding-left: 30px;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe span {
    border-radius: 10px;
    height: 22px;
    width: 50px;
    padding-bottom: 11px;
    background-color: #a8a8a8 !important;
    background-image: url(https://nfld99.com/Bkg/XVZz4KO.png) !important;
    background-size: 44%;
    background-repeat: no-repeat;
    border: none;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe input[type=checkbox]:checked + span:after {
    margin-left: 15px !important;
    border: none !important;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe input[type=checkbox]:checked + span {
    width: 50px;
    transform: rotate(180deg) !important;
    background-color: var(--Main-Colour) !important;
}

.container-1giJp5 {
    background: transparent !important;
    color: var(--Main-Colour);
}

.hljs {
    background: var(--Background-Colour) !important;
    border-radius: 4px !important;
    border-color: #666666 !important;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

.separator-gCa7yv,
#bd-settings-sidebar .ui-tab-bar-separator {
    background: var(--Secondary-Main-Colour) !important;
}

#bd-settings-sidebar .ui-tab-bar-separator {
    background: var(--Secondary-Main-Colour) !important;
}

.header-2RyJ0Y,
#bd-settings-sidebar .ui-tab-bar-header {
    color: var(--Main-Colour) !important;
}

/* 7 */
.theme-dark .callAvatarWrapper-TICyxO .ripple-2djlB0 {
    background-color: transparent;
    border: 1px solid var(--Secondary-Main-Colour);
}

.callAvatar-v-u4BM.voice-3qolcc {
    border-radius: 7px;
}

.callAvatarBorder-1D_KaE.voice-3qolcc.speaking-dRlv0T,
.callAvatarBorder-1D_KaE.video-WCePbA.speaking-dRlv0T {
    -webkit-box-shadow: inset 0 0 0 2px var(--Main-Colour);
    border-radius: 7px;
    box-shadow: inset 0 0 0 2px var(--Main-Colour);
}

.callAvatarWrapper-TICyxO.voice-3qolcc .ripple-2djlB0 {
    border-radius: 7px;
}

.nameTag-m8r81H,
.username-1cB_5E {
    white-space: pre-wrap !important;
}

.theme-dark .imageError-2OefUi {
    background: url(https://nfld99.com/Bkg/96Ymjfy.png) 50% 50%/contain;
    background-repeat: no-repeat !important;
}

.backgroundBlur-dazcBE,
.theme-dark .pictureInPictureVideo-20ZvXn {
    background: transparent !important;
}

.backgroundBlurOverlay-1JS5RF,
.backgroundBlur-dazcBE,
.theme-dark .pictureInPictureVideo-20ZvXn,
.wrapper-3eE7AX,
.video-1kutKI {
    background-color: transparent;
}

.theme-dark .body-1SVoBw {
    Display: none;
}

.theme-dark .gameName-1W6Ym- {
    color: var(--Main-Colour);
}

.theme-dark .publisher-2ZxPEd {
    color: var(--Secondary-Main-Colour);
}

.theme-dark .gamePreview-9weYR2 {
    border: 1px solid var(--Secondary-Main-Colour);
    border-radius: 3px !important;
}

.uploadModal-2ifh8j .inner-1-09ZV,
.theme-dark .filename-3eBB_v,
.controls-2g-WJ6,
.wrapperPaused-3y2mev,
.wrapperPlaying-2LSSsa {
    color: var(--Main-Colour);
}

.theme-dark .size-1Arx_I {
    color: var(--Secondary-Main-Colour);
}

.progress-3Rbvu0 {
    background: var(--Secondary-Background-Colour) !important;
}

.progressBar-3u8FBM.small-1CUeBa {
    background: var(--Secondary-Main-Colour) !important;
}

.icon-1kp3fr {
    display: none;
}

.activityName-1IaRLn {
    color: var(--Main-Colour);
}

.theme-dark .attachment-33OFj0 {
    background: var(--Secondary-Background-Colour) !important;
    border: 1px solid var(--Secondary-Main-Colour);
}

.membersGroup-v9BXpm {
    margin-top: 0 !important;
}

.activityText-sLG0UL {
    white-space: pre-wrap;
}

.themeDark-3Ap_7i {
    background-color: var(--Background-Colour);
    background-image: url(https://media.giphy.com/media/XMc1Ui9rAFR1m/source.gif);
    color: var(--Main-Colour);
}

.channelNotices-41mJbj .channelNotice-1-XFjC.invite-1D-l1h.new-R6EGhf,
.channelNotices-41mJbj .channelNotice-1-XFjC.invite-1D-l1h.new-R6EGhf .headerTint-2TF8xq,
.channelNotices-41mJbj .channelNotice-1-XFjC.invite-1D-l1h.new-R6EGhf .message-1SsTiA {
    background: var(--Background-Colour);
    color: var(--Main-Colour);
}

.channelNotices-41mJbj .channelNotice-1-XFjC.invite-1D-l1h.new-R6EGhf .message-1SsTiA .inviteInput-10_P2g {
    background: var(--Secondary-Background-Colour);
    color: var(--Secondary-Main-Colour);
    border: 1px solid var(--Secondary-Main-Colour);
}

.channelNotices-41mJbj .channelNotice-1-XFjC.invite-1D-l1h.new-R6EGhf .message-1SsTiA .inviteInput-10_P2g:hover {
    background: var(--Background-Colour);
    color: var(--Main-Colour);
    border: 1px solid var(--Main-Colour);
}

.theme-dark .inviteRow-2poi6Q:hover {
    background: var(--Background-Colour);
}

.theme-dark .inviteRowName-1P-Jpg {
    color: var(--Main-Colour);
}

.lookOutlined-3sRXeN.colorGreen-29iAKY:active {
    color: var(--Secondary-Main-Colour);
    border-color: var(--Secondary-Main-Colour);
}

.theme-dark .checkBoxLabel-PnMaNi,
.theme-dark .footerText-1FMLWO {
    color: var(--Secondary-Main-Colour);
}

.channelNotices-41mJbj .channelNotice-1-XFjC {
    padding-top: 2px;
}

.theme-dark .searchPopout-1vUlP3 {
    border: 1px solid var(--Secondary-Main-Colour);
    background: var(--Background-Colour);
}

.theme-dark .resultsGroup-r_nuzN .header-1pJ5N1 {
    color: var(--Main-Colour);
}

.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-,
.theme-dark .option-96V44q .answer-9L5NhD,
.theme-dark .option-96V44q .nonText-1oayCI,
.theme-dark .option-96V44q strong {
    color: var(--Main-Colour);
}

.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,
.theme-dark .option-96V44q .filter-3kZ3tT,
.theme-dark .searchResultChannelCategory-1l0lSn,
.theme-dark .searchResultChannelIcon-1DnTme {
    color: var(--Secondary-Main-Colour);
}

.theme-dark .option-96V44q.selected-_bTXUG {
    background: linear-gradient(to right, transparent, var(--Background-Colour), var(--Secondary-Main-Colour));
}

.theme-dark .option-96V44q.selected-_bTXUG:before {
    display: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background: var(--Background-Colour);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    border: none;
    background: var(--Background-Colour);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    color: var(--Secondary-Main-Colour);
    background: var(--Background-Colour);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    border-left-color: var(--Secondary-Main-Colour);
    border-top-color: var(--Secondary-Main-Colour);
    color: var(--Main-Colour);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    color: var(--Main-Colour);
    background: var(--Background-Colour);
    border: 1px solid var(--Main-Colour) !important;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: var(--Main-Colour);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
    border-right-color: var(--Secondary-Main-Colour);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day {
    border-bottom-color: var(--Secondary-Main-Colour);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    color: var(--Main-Colour);
    border: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
    color: var(--Main-Colour);
    border: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
    color: var(--Main-Colour);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-1iW7Wz {
    display: none;
}

.theme-dark .option-96V44q.user-1TwSRF .displayedNick-1487Dr {
    color: var(--Main-Colour);
}

.theme-dark .option-96V44q.user-1TwSRF .displayUsername-3PmTeH {
    color: var(--Secondary-Main-Colour);
}

.theme-dark .keybindShortcut-1BD6Z1 span {
    color: var(--Main-Colour);
    background: var(--Background-Colour);
}

.theme-dark .searchQuery-1B7rtx {
    color: var(--Main-Colour);
}

.typeWindows-1za-n7.titleBar-AC4pGV.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3 > div:nth-child(4) > svg > rect {
    stroke: var(--Secondary-Main-Colour) !important;
}

.typeWindows-1za-n7.titleBar-AC4pGV.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3 > div:nth-child(5) > svg > rect {
    fill: var(--Secondary-Main-Colour) !important;
}

[class*="winButton"]:hover {
    background: transparent;
}

.theme-dark .modalTitle-37O4n6 {
    background-color: var(--Background-Colour);
}

.theme-dark .keyboardShortcutList-13cQ-8 .keybindGroup-BB3G2K .keybindDescription-2RDbC2 {
    border: none;
    color: var(--Secondary-Main-Colour);
}

.theme-dark .keyboardShortcutList-13cQ-8 .keybindGroup-BB3G2K .keybindDescription-2RDbC2,
.theme-dark .modalSubtitle-1Pj5nv {
    color: var(--Main-Colour);
}

.fade > div > div > div:nth-child(26) > div.keybindDescription-2RDbC2 {
    font-size: 0;
}

.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX {
    background: var(--Background-Colour);
}

.icon-2doZ3q {
    background: none !important;
    display: initial !important;
    width: 1px;
    margin-right: 4px;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX .title-1SAkRa,
.theme-dark .mentionFilter-1PQ6ey .value-NdVIa2,
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .channelSeparator-1MxuvT .channelName-3kBz6H {
    color: var(--Main-Colour);
}

.theme-dark .headerTabBarWrapper-27xBDe,
.theme-dark .mentionFilter-1PQ6ey .label-3EbduD,
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .channelSeparator-1MxuvT .guildName-1Bc3Ta {
    color: var(--Secondary-Main-Colour);
}

.scrollingFooterWrap-3FDlMn {
    display: none;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .emptyPlaceholder-1zh-Eu .body-bvcIjN {
    font-size: 0;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .emptyPlaceholder-1zh-Eu .body-bvcIjN:after {
    content: " Nothing to see here.";
    color: var(--Main-Colour);
    font-size: 15px;
}

.image-2JDb81 {
    background: var(--Background-Colour) !important;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--Main-Colour);
    background: var(--Background-Colour);
    border: 1px solid var(--Main-Colour);
}

.theme-dark .messagesPopoutWrap-1MQ1bW .hasMore-sul95G button {
    color: var(--Secondary-Main-Colour);
    background: var(--Background-Colour);
    border: 1px solid var(--Secondary-Main-Colour);
}

.hasMore-sul95G button {
    color: var(--Secondary-Main-Colour);
    background: var(--Background-Colour);
}

.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.theme-dark .subtitle-2BzAeG {
    background-color: transparent;
}

.theme-dark .subtitle-Qv5s8c {
    font-size: 0;
    color: var(--Main-Colour);
}

.theme-dark .subtitle-Qv5s8c:after {
    content: "Jammin Out With";
    font-size: 13px;
}

.theme-dark .topSectionNormal-2-vo2m {
    background: transparent;
}

.theme-dark .emptyIconFriends-BrjhY9 {
    display: none;
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    color: var(--Secondary-Main-Colour);
    border-color: var(--Secondary-Main-Colour);
}

.lookGhost-2Fn_0-.colorGrey-2DXtkV {
    color: var(--Secondary-Main-Colour);
    border-color: var(--Secondary-Main-Colour);
}

.lookGhost-2Fn_0-.colorBrand-3pXr91 {
    color: var(--Main-Colour);
    border-color: var(--Main-Colour);
}

.content-1rPSz4 {
    color: var(--Main-Colour) !important;
}

.theme-dark .iconForeground-3y9f0B,
.theme-dark .title-1aVOXw,
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX .title-3pkaKd,
.theme-dark .mentionFilter-1PQ6ey .value-2k8Drt,
.theme-dark .mentionFilter-1PQ6ey {
    color: var(--Main-Colour) !important;
}

.container-3nXdBP section p {
    color: var(--Popout-Main-Colour);
}

.container-3nXdBP {
    background: var(--Popout-Background);
}

.container-3nXdBP hr {
    border: none;
}

.theme-dark .item-30Gz8g {
    color: var(--Main-Colour) !important;
}

.theme-dark .itemValue-JNy0LV {
    color: var(--Secondary-Main-Colour) !important;
}

.theme-dark .modalTitle-37O4n6 {
    background: transparent;
}

.theme-dark .modalTitle-37O4n6 {
    color: var(--Main-Colour);
}

.theme-dark .keyboardShortcutList-13cQ-8 .keybindGroup--6Qp-w .keybindDescription-2RDbC2 {
    color: var(--Main-Colour) !important;
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background: linear-gradient(to right, transparent, var(--Background-Colour), var(--Main-Colour));
    color: var(--Main-Colour);
}

.theme-dark .option-96V44q .answer-1n6g43,
.theme-dark .option-96V44q .nonText-3CRkO0,
.theme-dark .option-96V44q strong,
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV,
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hint-165cR4 {
    color: var(--Main-Colour) !important;
}

.theme-dark .option-96V44q .filter-3Y_im- {
    color: var(--Secondary-Main-Colour) !important;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: var(--Secondary-Background-Colour);
    color: var(--Secondary-Main-Colour);
    border: 1px solid var(--Secondary-Main-Colour);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: var(--Background-Colour);
    color: var(--Main-Colour);
    border: 1px solid var(--Main-Colour);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background: transparent;
}

.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookOutlined-3sRXeN.colorBrand-3pXr91,
.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: var(--Secondary-Background-Colour);
    color: var(--Secondary-Main-Colour);
    border: 1px solid var(--Secondary-Main-Colour);
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.lookOutlined-3sRXeN.colorBrand-3pXr91:hover,
.lookInverted-2D7oAl.colorGreen-29iAKY:hover {
    background-color: var(--Background-Colour);
    color: var(--Main-Colour);
    border: 1px solid var(--Main-Colour);
}

.theme-dark .wrapper-1cBijl .addFriendInput-4bcerK {
    color: var(--Main-Colour);
}

.inner-2Y6JuD:hover {
    background-color: var(--Secondary-Background-Colour);
    border: 1px solid var(--Main-Colour);
}

.inner-2Y6JuD {
    border: 1px solid var(--Secondary-Main-Colour);
}

.theme-dark .connection-1fbD7X {
    background: var(--Secondary-Background-Colour) !important;
}

.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: var(--Background-Colour);
    color: var(--Main-Colour);
    border: 1px solid var(--Main-Colour);
}

.theme-dark .accountBtnInner-sj5jLs {
    background-color: var(--Secondary-Background-Colour);
    color: var(--Secondary-Main-Colour);
    border: 1px solid var(--Secondary-Main-Colour);
}

.theme-dark .card-7JP0BX {
    background-color: transparent;
    border-color: transparent;
    color: var(--Main-Colour);
}

.theme-dark .tag-10JqWu {
    color: var(--Main-Colour);
}

.theme-dark .discriminator-pIKHPn,
.theme-dark .playTime-1laRtO {
    color: var(--Secondary-Main-Colour);
}

.aka-1mqp34 {
    background-color: var(--Background-Colour);
    color: var(--Main-Colour);
    border: 1px solid var(--Main-Colour);
}

*:not(.badge-2_fwUZ):not(.wrapper-232cHJ) {
    text-shadow: 0 0 1px var(--Text-Shadow-Colour), 0 0 1px var(--Text-Shadow-Colour), 0 0 1px var(--Text-Shadow-Colour), 0 0 1px var(--Text-Shadow-Colour) !important;
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background: transparent;
}

.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
    color: var(--Main-Colour);
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -3px;
    box-shadow: none;
}

.theme-dark .typing-2GQL18 span {
    color: var(--Main-Colour);
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-size: contain;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K {
    height: 193px;
}

.theme-dark .keyboardShortcutsModal-3piNz7 {
    background-color: var(--Secondary-Background-Colour);
}

.theme-dark .descriptionDiscriminator-3vUOCc,
.theme-dark .description-11DmNu,
.theme-dark .descriptionUsername-J_75O8 {
    color: var(--Secondary-Main-Colour);
}

.theme-dark .description-11DmNu,
.theme-dark .descriptionUsername-J_75O8,
.theme-dark .contentTitle-2tG_sM,
.marginLeft8-1YseBe {
    color: var(--Main-Colour);
}

.theme-dark .autocomplete-1vrmpx {
    background: var(--Popout-Background) 50% 50%/cover !important;
}

.autocompleteInner-zh20B_ {
    border: 1px solid var(--Secondary-Main-Colour);
    background: rgba(0, 0, 0, var(--Background-Darkness));
}

.theme-dark .selectorSelected-1_M1WV {
    background: linear-gradient(to top, var(--Secondary-Main-Colour), transparent, transparent, transparent, var(--Secondary-Main-Colour)) !important;
}

.theme-dark .connectedAccount-36nQx7,
.theme-dark .userInfoSection-2acyCx + .userInfoSection-2acyCx {
    border-color: var(--Secondary-Main-Colour);
}

.connectedAccountName-f8AEe2 {
    color: var(--Main-Colour);
}

.title-223e2Y {
    display: none;
}

.theme-dark .listeningAlong-2UPsxf {
    background: var(--Secondary-Background-Colour);
}

.theme-dark .pill-1dHPfk {
    background-color: var(--Secondary-Background-Colour);
}

.theme-dark .pillMessage-1btqlx {
    color: var(--Main-Colour) !important;
}

.pill-1dHPfk {
    border: 1px solid var(--Secondary-Main-Colour) !important;
}

.iconInactive-98JN5i {
    border-radius: 0%;
}

.theme-dark .contentWrapper-3WC1ID {
    background: transparent;
}

.theme-dark .contentWrapper-3WC1ID {
    background-color: var(--Secondary-Background-Colour);
    background-image: url(https://nfld99.com/Bkg/Mcvi43u.png);
    background-size: contain;
    height: 440px;
    position: relative;
    width: 920px;
    animation: Popoutinvite 2s 1 linear;
}

.canvas-3XuBXe {
    object-position: 9999px 9999px;
    background: rgba(0, 0, 0, var(--Background-Darkness)) !important;
    filter: blur(0px);
}

.wrapper-3Q5DdO,
.image-1SwJLX.loaded-1CMjvT {
    background: var(--Callout-Background) 50% 50%/cover !important;
    filter: blur(0px);
    object-position: 9999px 9999px;
}

.image-2jyRAK.loaded-3PtF_J {
    object-position: 9999px 9999px;
    background: rgba(0, 0, 0, var(--Background-Darkness)) !important;
    filter: blur(0px);
}

.authBox-hW6HRx {
    background: var(--Secondary-Background-Colour);
    color: var(--Secondary-Main-Colour);
}

.white-2qwKC7,
.white100-1kM2ad,
.white200-3zgO-Z,
.white300-9aRwFJ,
.white400-18yif1,
.white500-2pqdDy {
    color: var(--Main-Colour);
}

.subTitle-3TUjmF {
    color: var(--Secondary-Main-Colour);
}

.wrapper-3Q5DdO {
    overflow-y: hidden;
}

.lookLink-9FtZy-.colorBrand-3pXr91 {
    color: var(--Main-Colour);
}

.logo-2iEHEq {
    background: url(https://nfld99.com/Bkg/UI9uFRU.png) 50% 50%/contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 70px;
}

.root-3-B5F3 {
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.scrollerWrap-2lJEkd.scrollerThemed-2oenus.themeGhostHairline-DBD-2d.scrollerFade-1Ijw5y > div > div > a > div > div > span > span {
    display: inline-block;
    left: 40px;
    top: 10px
}

.root-3-B5F3:-webkit-scrollbar-track-piece {
    background: transparent !important;
    border: 1px solid var(--Scroller-Colour) !important;
}

.root-3-B5F3:-webkit-scrollbar-thumb {
    background: transparent !important;
    border: 1px solid var(--Scroller-Colour) !important;
}

.root-3-B5F3:not(:hover):-webkit-scrollbar-thumb {
    background: transparent !important;
    border: 1px solid var(--Scroller-Colour) !important;
}

.root-3-B5F3:-webkit-scrollbar {
    max-width: 10px !important;
    background: transparent !important;
    border: 1px solid var(--Scroller-Colour) !important;
}

.body-3ND3kc > div > div > div > div > div > div > svg {
    display: none;
}

.theme-dark .passthroughSelected-1Eq0Kl {
    border: 1px solid #747f8d;
    background: transparent;
}

.denySelected-1mh2mZ {
    background: transparent;
}

.allowSelected-25S_i5 {
    background: transparent;
}

.bar-2Qqk5Z[style="background: rgb(251, 184, 72);"] {
    background-color: var(--Background-Colour) !important;
}

.barFill-23-gu-[style="background: rgb(105, 196, 154); width: 45.5385%;"] {
    background-color: var(--Secondary-Main-Colour) !important;
}

.userSettingsVoice-iwdUCU .inputSensitivityToggle-2LKb8o.manual-36Evg9 .microphone-2rtdHw .fill-3eUagR {
    background-color: var(--Main-Colour);
    height: 100%;
}

.inviteModal-34DdOm .scroller-3__pG8 {
    background-color: var(--Secondary-Background-Colour);
    background-image: url(https://nfld99.com/Bkg/EMb6GWq.png);
    height: 100%;
    position: relative;
    width: 400px;
}

.inviteModal-34DdOm .button-ey5-M_ {
    width: 100%;
}

.theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU {
    color: var(--Main-Colour);
}

.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
    color: var(--Secondary-Main-Colour);
}

.theme-dark .text-GwUZgS,
.theme-dark .title-2BxgL2 {
    color: var(--Main-Colour);
}

.theme-dark .verticalDockItemName-1HqTzt {
    color: var(--Main-Colour);
}

.theme-dark .headerText-2niCs_ {
    border-top: 1px solid var(--Secondary-Background-Colour);
    color: var(--Main-Colour);
}

.verticalDockItemSplash-jI35yB,
.splashArt-3yFzRe,
.background-17WUpK {
    -webkit-filter: grayscale(0%);
    -webkit-mask: radial-gradient(100% 100% at top left, rgba(0, 0, 0, var(--Background-Darkness)) 0, rgba(0, 0, 0, var(--Background-Darkness)) 100%);
    filter: grayscale(0%);
    mask: radial-gradient(100% 100% at top left, rgba(0, 0, 0, var(--Background-Darkness)) 0, rgba(0, 0, 0, var(--Background-Darkness)) 100%);
}

.theme-dark .verticalDockFooterText-2t4w2m {
    color: var(--Secondary-Main-Colour);
}

.theme-dark .header-1RC2Wb:hover {
    background-color: rgba(10, 10, 10, var(--Background-Darkness));
}

.splashArt-3yFzRe {
    background-size: cover;
}

.theme-dark .header-1RC2Wb {
    background-color: rgba(0, 0, 0, var(--Background-Darkness));
    border-bottom-color: rgba(32, 34, 37, .6);
}

.description-13oVu5,
.subtitle-rPfx7J {
    color: var(--Secondary-Main-Colour);
}

.title-1oZsbs {
    color: var(--Main-Colour);
}

.newsLink-38Naqi:hover {
    background-color: rgba(10, 10, 10, var(--Background-Darkness));
}

.news-2GDtLJ {
    background-color: rgba(0, 0, 0, var(--Background-Darkness));
}

.theme-dark .sectionTitle-1snBOS {
    color: var(--Main-Colour);
}

.theme-dark .sectionLine-JjseS9 {
    background-color: var(--Secondary-Background-Colour);
}

.articleType-3SqiEI {
    color: var(--Secondary-Main-Colour);
}

.gameName-ZXDRa6 {
    color: var(--Main-Colour);
}

.dot-2Q_mMZ {
    background-color: var(--Main-Colour);
}

.article-FleDq5 {
    background-color: rgba(0, 0, 0, var(--Background-Darkness));
}

.background-17WUpK {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    background-size: contain !important;
}

.theme-dark .body-2iXqIL,
.theme-dark .buttonHint-2OxJB8 {
    color: var(--Main-Colour);
}

.theme-dark .header-3_S6dz,
.theme-dark .buttonHint-2OxJB8 strong {
    color: var(--Main-Colour);
}

.theme-dark .footer-2aTx0s {
    background-color: var(--Secondary-Background-Colour);
}

.theme-dark .everyonePopout-nEbJY3 {
    background: var(--Background-Colour) !important;
    animation: Everyone 2.5s infinite linear, Everyone2 2s 1 linear;
    text-shadow: 0 0 6px var(--Text-Shadow-Colour), 0 0 6px var(--Text-Shadow-Colour), 0 0 5px var(--Text-Shadow-Colour), 0 0 4px var(--Text-Shadow-Colour);
}

.theme-brand .content-Qb0rXO {
    color: var(--Main-Colour);
}

.iconSizeLarge-161qtT {
    height: 40px;
    width: 40px;
}

/* 8 */
.layers__960e4,
.layer__960e4 {
    background: rgba(0, 0, 0, var(--Background-Darkness));
}
/* 9 */
.theme-dark .image__7184c {
    background: url(https://uploads.nfld99.com/chrome_0RwlixSv7C.png) 50% 50%/contain no-repeat;
}

.theme-dark .title__7184c,
.theme-dark .description__7184c {
    color: var(--Main-Colour);
}

.theme-dark .description__7184c {
    font-size: 0;
}

.theme-dark .description__7184c:after {
    font-size: 1rem;
    content: "Do you wish to see members of the Itty Bitty Titty Committee?";
}

/* ibtc */
.theme-dark .contentWrapper__9b0f4 {
    background-color: var(--Secondary-Background-Colour);
}

.theme-dark .lookLink-15mFoz.colorTransparent-13Bvvi,
.blockedSystemMessage__7a70a:hover .blockedAction__7a70a {
    color: var(--Main-Colour);
}

.theme-dark .lookLink-15mFoz.colorTransparent-13Bvvi:hover .contents-3ca1mk {
    background-image: linear-gradient(0deg, transparent, transparent 1px, var(--Main-Colour) 0, var(--Main-Colour) 2px, transparent 0);
}

.channelTextArea_f75fb0 {
    background: var(--Chat-Input-Background) 50% 50%/cover !important;
}
/*
.channelTextArea__74017 > div > .inner__74017 {
    background: rgba(0, 0, 0, var(--Background-Darkness)) !important;
}
*/
.iconBadge__9293f {
    background-color: var(--Main-Colour);
}

.header_f37cb1 {
    box-shadow: none;
}

.input-2g-os5 {
    background: rgba(0, 0, 0, var(--Background-Darkness)) !important;
}

.emojiPickerInExpressionPicker-2nOwH8 .emojiPicker_c0e32c {
    background: rgba(0, 0, 0, var(--Background-Darkness)) !important;
}

.callContainer_cb9592 {
    background: transparent;
}

.gradientContainer_bfe55a {
    background-image: linear-gradient(var(--Secondary-Main-Colour), var(--Secondary-Background-Colour), transparent);
}

.rtcConnectionQualityFine_c0cb95 .pingForeground_c0cb95 {
    color: var(--Main-Colour);
}

.rtcConnectionQualityAverage_c0cb95 .pingForeground_c0cb95:not(:last-child) {
    color: var(--Main-Colour);
}

.ping_c0cb95 > path {
    fill: currentColor !important;
}

.wrapper__2ea32.modeConnected__2ea32 {
    background: linear-gradient(to left, var(--Secondary-Background-Colour), var(--Secondary-Main-Colour)) !important;
    background-size: 200% 200%;
}

.theme-dark .progress_e5cdf3 {
    background-color: var(--Background-Colour);
}

.container_e5cdf3[style="width: 560px; background: linear-gradient(to right, hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 63.3%), hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%));"] {
    background: linear-gradient(to right, var(--Main-Colour), var(--Secondary-Main-Colour)) !important;
}

.deviceOptionCertified-2G1bag {
    display: none;
}

.avatarSpeaking__07f91 {
    box-shadow: inset 0 0 0 2px var(--Main-Colour), inset 0 0 0 3px var(--Background-Colour);
}

[class="avatarContainer__07f91 avatar__07f91 avatarSmall__07f91"] {
    border-radius: var(--Chat-Avatar-Border-Radius);
}

.role_b4b2c3 {
    background-color: var(--Secondary-Background-Colour);
}

.role_b4b2c3:hover {
    background-color: var(--Background-Colour);
}

.rtcConnectionStatusConnected_c0cb95 {
    color: var(--Main-Colour);
}

.rtcConnectionStatusConnecting_c0cb95 {
    color: var(--Secondary-Main-Colour);
}

.iconBadge__650eb.participating-2Z81oO {
    background-color: var(--Background-Colour);
}

svg.artwork-L5TAwQ {
    display: none;
}

.logo_fde715 {
    background: url(https://nfld99.com/Bkg/UI9uFRU.png) 50% 50%/contain no-repeat;
}

.characterBackground-1BPOOJ > .wrapper-1f5byN {
    background-image: url(https://nfld99.com/Bkg/Mcvi43u.png);
}

.characterBackground-1BPOOJ {
    background: linear-gradient(270deg, #000000, #000000, var(--Main-Colour), #000000, #000000);
    background-size: 700% 700%;
    animation: errorPageBkg 30s ease infinite;
}

.characterBackground-1BPOOJ > .wrapper-1f5byN > div > .authBox_dc6abe,
.characterBackground-1BPOOJ > .wrapper-1f5byN > div > div > .authBox_dc6abe {
    background: var(--Secondary-Background-Colour) !important;
}

[class="text-sm-semibold-3TWn25 hintText-1gwhJG"][style="color: var(--text-danger);"] {
    color: var(--Secondary-Main-Colour) !important;
}

.qrCode-2R7t9S[style="padding: 8px; border-radius: 4px; background: rgb(255, 255, 255);"] {
    background-color: var(--Main-Colour) !important;
}

.qrCodeOverlay-2bLtKl > img {
    display: none;
}

.qrCodeOverlay-2bLtKl {
    background: url("https://uploads.nfld99.com/Discord.png") 50% 50%/contain no-repeat;
    background-size: 40px 30px;
}

.scroller__7d20c {
    border-left: none;
}

.searchBar__35e86 {
    box-shadow: none;
}

.channelTextArea_f75fb0 > .scrollableContainer__74017 {
    background: rgba(0, 0, 0, var(--Background-Darkness)) !important;
    box-shadow: 0 0 5px var(--Main-Colour);
}

.message__5126c.replying__5126c.selected__5126c,
.mouse-mode.full-motion .replying__5126c:hover {
    background-color: var(--Secondary-Background-Colour);
}

.separator-2wx7h6 {
    background-color: var(--Secondary-Background-Colour);
}

.theme-dark .modalTitle_f061f6 {
    color: var(--Main-Colour);
}

.theme-dark .modalSubtitle_f061f6 {
    border-bottom: 1px solid var(--Secondary-Background-Colour);
    color: var(--Main-Colour);
}

.theme-dark .keyboardShortcutList_f061f6 .keybindGroup_f061f6 .keybindDescription_c0b6a8 {
    color: var(--Secondary-Main-Colour);
}

.theme-dark .keyboardShortcutsModal_f061f6 {
    background: var(--Background-Colour);
}

.theme-dark .markdown_d285a6 {
    color: var(--Secondary-Main-Colour);
}

.headerText_c19a55[id*="message-username-"] > .role_dfa8b6,
.nameAndDecorators__91a9d > .role_dfa8b6 {
    min-width: 1% !important;
}

.theme-dark .roleStyle-jQ7KI2 {
    color: var(--Main-Colour);
}

.downloadLink_aa8ea9 {
    color: var(--Main-Colour) !important;
}

.settingCard-xZSDjS.active-3EK-ed {
    background-color: transparent;
}

.deny__344e6.selected__344e6,
.passthrough__344e6.selected__344e6,
.allow__344e6.selected__344e6 {
    background-color: var(--Secondary-Main-Colour);
    color: var(--Background-Colour);
}

.deny__344e6.selected__344e6 > svg > path,
.allow__344e6.selected__344e6 > svg > path {
    fill: var(--Background-Colour) !important;
}

.input_ac6cb0 {
    background-color: var(--Secondary-Background-Colour);
}

.container__55c99 {
    background-color: var(--Background-Colour);
}

.option__56fec:after,
.option__56fec:hover:after {
    background: none;
}

.serverCountWrap-k8F5De,
[class="listItem__650eb frame-oXWS21"] {
    width: calc(var(--Guild-Columns) * 60px + 2px) !important;
    height: 12px !important;
}

.iconBadge__4989d {
    background-color: var(--Background-Colour);
}

a.anchor-1MIwyf:not(:hover),
.theme-dark .wrapper_d4fa29:not(:hover) {
    background: var(--Secondary-Background-Colour);
    color: var(--Main-Colour);
    border: 1px solid var(--Secondary-Main-Colour);
    border-radius: 5px;
    transition: all 250ms;
}

a.anchor-1MIwyf:hover,
.theme-dark .wrapper_d4fa29:hover {
    background: var(--Background-Colour);
    color: var(--Main-Colour);
    border: 1px solid var(--Main-Colour);
    border-radius: 5px;
    transition: all 250ms;
}

.divider__908e2 {
    border-top: thin solid var(--Secondary-Background-Colour);
}



/* 11 */
.tree_ef3116 > div > .listItem__650eb:nth-last-of-type(2) {
    display: none;
}

/* Fix status on modals */
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div:nth-child(3) > div.layer-1Ixpg3 > div > div > div.topSection-13QKHs > header > div.header-S26rhB > div:nth-child(1) > div > svg > rect {
    width: 120px !important;
}

[class="root-8LYsGj root__49fc1 small-23Atuv fullscreenOnMobile__49fc1"] {
    background: var(--Popout-Background) 50% 50%/cover;
}

.body-1Ukv50,
.topSection-13QKHs {
    background-color: rgba(0, 0, 0, var(--Background-Darkness));
}

.noTabBar-2Q-iE_ {
    border-color: var(--Secondary-Background-Colour);
}

.placeholder__1b31f {
    color: var(--Secondary-Main-Colour)
}

.reaction_f8896c.reactionMe_f8896c {
    background-color: var(--Secondary-Background-Colour);
    border-color: var(--Main-Colour);
}

.reaction_f8896c.reactionMe_f8896c .reactionCount_f8896c {
    color: var(--Main-Colour);
}

.botTagRegular_c89c9a {
    background: var(--Secondary-Background-Colour);
    color: var(--Main-Colour);
}

.markup__75297 code.inline {
    background-color: var(--Secondary-Background-Colour);
}

.progressBar_db0972,
.container_eff079:hover .progressBar_db0972 {
    position: absolute;
    z-index: 2;
    background: linear-gradient(to left, var(--Main-Colour), var(--Secondary-Main-Colour), var(--Secondary-Background-Colour));
}

.name_f37cb1,
.bannerVisible_f37cb1 .headerContent_f37cb1 {
    color: var(--Main-Colour);
}

.theme-dark .progressBarContainer_eff079 {
    background: var(--Secondary-Background-Colour);
}

.autocompleteRow__13533[tabindex="0"] {
    background: var(--Secondary-Background-Colour);
}

.dots-1BwzZQ {
    color: var(--Main-Colour);
}

[style='background-image: url("/assets/ef3a1ed683cfcf029971b12a26462072.svg");'] {
    display: none;
}

.pro__30cbe,
[style="color: var(--text-positive);"] {
    color: var(--Main-Colour) !important;
}

.cta__9271d {
    color: var(--Secondary-Main-Colour);
}

.theme-dark .tooltipBlack-vMYxvw,
.theme-light .tooltipBlack-vMYxvw {
    background-color: var(--Background-Colour);
    color: var(--Main-Colour);
}


[class="item__133bf item-3XjbnG themed-2-lozF"]:not(:hover) {
    background-color: var(--Secondary-Background-Colour) !important;
    color: var(--Secondary-Main-Colour) !important;
}

[class="item__133bf item-3XjbnG themed-2-lozF"]:hover {
    background-color: var(--Background-Colour) !important;
    color: var(--Main-Colour) !important;
}

.addFriendInputWrapper__72ba7 {
    background-color: transparent;
    border: 1px solid transparent;
}

.inputText__72ba7 {
    background: transparent;
}
/* 12 */
.root__49fc1 {
    background-color: rgba(0, 0, 0, var(--Background-Darkness));
}

.focusLock-2tveLW {
    background: var(--Popout-Background) 50% 50%/cover;
}

.theme-dark .message__89466 {
    background: var(--Chat-Background) 50% 50%/cover;
}

.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: var(--Secondary-Main-Colour);
    color: var(--Main-Colour);
}

.bd-selected > span {
    display: none;
}

.jumpToPresentBar__0f481 {
    bottom: 8px;
}

.container-x8Y1ix {
    border-color: var(--Secondary-Main-Colour);
    background-color: var(--Secondary-Background-Colour);
}

.container-x8Y1ix:hover {
    border-color: var(--Main-Colour);
    background-color: var(--Background-Colour);
}

[class="defaultColor-24IHKz text-md-normal-304U3g text-PdAsFQ"] {
    color: var(--Main-Colour) !important;
    text-shadow: none !important;
}

.theme-light .footerSeparator-VzAYwb {
    box-shadow: inset 0 1px 0 var(--Secondary-Main-Colour)
}

.circleIconButton__5bc7e.selected__5bc7e {
    color: var(--Main-Colour);
    background-color: var(--Secondary-Background-Colour);
}

.theme-dark .contentTitle__13533 strong {
    color: var(--Main-Colour);
}

.theme-dark .autocomplete__13533 {
    background: var(--Popout-Background) 50% 50%/cover;
    border: 1px solid var(--Main-Colour);
}

.autocompleteInner__6b0e0 {
    background-color: rgba(0, 0, 0, var(--Background-Darkness))
}

.autocompleteRowVertical__13533:hover {
    background-color: var(--Secondary-Background-Colour);
}

.theme-dark .wrapper_f316dd {
    background-color: var(--Secondary-Background-Colour);
}

.mediaBarGrabber_f7877e,
.mediaBarProgress_f7877e,
.mediaBarProgress_f7877e:after,
.mediaBarProgress_f7877e:before {
    background-color: var(--Main-Colour);
}

.wrapper_d5f3cd {
    background: var(--Background-Colour);
}

.theme-dark .guildIconImage_d5f3cd {
    background-color: transparent;
}

.input-m1-Y7Q {
    background: transparent;
}

.sampleLink-5BWNy9,
.formTitle-2YQyhj,
.defaultColor-HXu-5n,
[style="color: var(--header-secondary);"] {
    color: var(--Main-Colour) !important;
}

.rowContainer-3t7486 {
    display: none;
}

#app-mount > div.appDevToolsWrapper-1QxdQf > div > div:nth-child(3) > div.layer-1Ixpg3 > div > div > div > div > div > div > div.flex__7c0ba.flex_abf706.horizontalReverse__7c0ba.horizontalReverse_d76671.flex_abf706.directionRowReverse_f644aa.justifyBetween_abf706.alignStretch_abf706.noWrap_abf706.footer-31IekZ.footerSeparator-VzAYwb > button > div {
    color: var(--Main-Colour);
}

.theme-dark .wrapper_d4fa29 {
    background: var(--Secondary-Background-Colour);
    color: var(--Main-Colour);
}

.scroller__36d07 {
    bottom: 11px;
}

[class="iconVisibility_c69b6d wrapper__2ea32 modeUnreadImportant__2ea32"] {
    background: linear-gradient(to right, var(--Background-Colour), var(--Secondary-Background-Colour), var(--Main-Colour));
    background-size: 100% 100%;
    border-radius: 5px;
}

[class="iconVisibility_c69b6d wrapper__2ea32 modeSelected__2ea32"] {
    background: linear-gradient(to left, var(--Background-Colour), var(--Secondary-Background-Colour), var(--Main-Colour));
    background-size: 100% 100%;
    border-radius: 5px;
}

[class="iconVisibility_c69b6d wrapper__2ea32 modeMuted__2ea32"] {
    opacity: 0.5;
    border-radius: 5px;
}

[class="channel__972a0 container-32HW5s"]:hover,
[class="containerDefault_c69b6d"]:hover,
[class*="iconVisibility_c69b6d wrapper__2ea32"]:hover {
    background: var(--Secondary-Background-Colour) !important;
    background-size: 100% 100%;
}

.container-2nx-BQ {
    background-color: var(--Secondary-Main-Colour) !important;
}

.container-2nx-BQ.checked-25WXMf {
    background-color: var(--Main-Colour) !important;
}

.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo:hover .contents-3ca1mk {
    background-image: linear-gradient(0deg, transparent, transparent 1px, var(--Main-Colour) 0, var(--Main-Colour) 2px, transparent 0);
}

.layer-2aCOJ3 {
    background: none;
    border: none;
}

.focusLock-2tveLW {
    background: none;
    border: none;
}

.didRender-2SiRlm,
.profileBannerPreview-3mLIdO {
    background: var(--Popout-Background) 50% 50%/cover;
    border-radius: 10px;
}

[class="modal-1ocm0B root__49fc1 small-23Atuv fullscreenOnMobile__49fc1"] > .transitionGroup-bPT0qU {
    background: rgba(0, 0, 0, var(--Background-Darkness));
}

[class="modal-1ocm0B root__49fc1 small-23Atuv fullscreenOnMobile__49fc1"] {
    background: var(--Callout-Background) 50% 50%/cover;
}

.embedWrapper_b7e1cb {
    background-color: var(--Secondary-Background-Colour);
}

.mentioned__5126c:hover {
    background: var(--Secondary-Background-Colour) !important;
    border-color: var(--Main-Colour) !important;
    transition: all 250ms;
}

.drawerSizingWrapper__08434 {
    background: var(--Emote-Popout-Background) 50% 50%/cover;
    border: 1px solid var(--Secondary-Main-Colour);
    border-radius: 10px;
}

.avatarHintInner_f89da9,
.colorDefault-CDqZdO.focused-3qFvc8 .checkbox-hADx5o,
.colorDefault-CDqZdO.focused-3qFvc8 .radioSelection-1UHp0b,
.colorDefault-CDqZdO.focused-3qFvc8 .subtext-2GlkbE {
    color: var(--Main-Colour);
}

.avatar-3QF_VA {
    border: none;
    background: none;
}

/* 15 */ 

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    font-family: var(--Chat-Font-Used), Whitney, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
.app-2rEoOp {
    background: var(--File-Updated-2020-5-24) 50% 50%/contain no-repeat, var(--Chat-Background) 50% 50%/cover !important;
    animation: Load4 3s 1 linear, var(--StartUp) 3s 1 linear;
    font-family: var(--Chat-Font-Used) !important;
}

@import url('https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css');


.modeSelected__2ea32 .icon__2ea32, .modeSelected__2ea32:hover .icon__2ea32, .modeUnreadImportant__2ea32 .icon__2ea32, .modeUnreadImportant__2ea32:hover .icon__2ea32{
    opacity:0.8;
}/*
.wrapper_ef3116 .scroller_ef3116, .wrapper_ef3116 .scroller_ef3116 > [role="tree"], .wrapper_ef3116 .listItem__650eb + div[aria-label]:not([class]){ 
    margin-right: -5px!important;
}*//*
.wrapper_ef3116 .listItem__650eb{
   margin: 0 0 8px;
}/*
.wrapper_ef3116 .wrapper__58105{
    left:0!important;
    transform-origin: 0% 50% !important;
}*/
